@import "@angular/material/theming";

@include mat-core();

@import "./theme.scss";

@import "./custom-component-themes.scss";

@include angular-material-theme($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme);

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css"; // default "bold".

@import "@fontsource/material-icons-round";

.dark-theme {
  @include angular-material-color($dark-theme);
  @include custom-components-theme($dark-theme);
}

:root {
  --accent: #4c895b;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  color: white;
  overscroll-behavior-y: contain;
}

.mat-icon {
  font-family: "Material Icons Round", sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

p {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.collection-card {
  max-width: 400px;
  margin-bottom: 1em;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.page {
  margin: 2em;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
