

<a [routerLink]="['/collection']">Collections</a>


<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<span class="material-symbols-rounded">search</span>
<span class="material-symbols-rounded">home</span>
<span class="material-symbols-rounded">settings</span>
<span class="material-symbols-rounded">favorite</span>

<span class="material-symbols-rounded">search</span>
<span class="material-symbols-rounded">home</span>
<span class="material-symbols-rounded">settings</span>
<span class="material-symbols-rounded">favorite</span>

<!-- thin outlined icons -->
<div style="font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;">
    <span class="material-symbols-outlined">search</span>
    <span class="material-symbols-outlined">home</span>
    <span class="material-symbols-outlined">settings</span>
    <span class="material-symbols-outlined">favorite</span>
  </div>
  
  <!-- thick filled icons -->
  <div style="font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">
    <span class="material-symbols-outlined">search</span>
    <span class="material-symbols-outlined">home</span>
    <span class="material-symbols-outlined">settings</span>
    <span class="material-symbols-outlined">favorite</span>
  </div>